extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1=name

        p.lead.text-light
            | #{title}
            br
            | #{description}

        .portfolio-bio.info-section
          p #{bios}

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          each skill in skills
            li=skill
        h6 Contact Info

        ul
          each contact in contacts
            li=contact

        each account in social_media
          a.button.expanded(href=`${account.link}` target="_blank")=account.name
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  